// use background-color: color(sky); // #09A6E4
@function color($key) {
	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);
	}

	@warn "Unknown `#{$key}` in $colors.";
	@return null;
}


// usw background-color: color-level('primary', 2);
$color-interval: 10% !global;

@function color-level($color-name, $level: 0) {
	$color: color($color-name);
	$color-base: if($level < 0, black, white);

	@return mix($color-base, $color, $level * $color-interval);
}


// use $button-transparent-color: color-alpha('primary', 'light');
// => rgba(#8e3329, 0.8)

@function color-alpha($name, $opacity: 0) {
	$color: color($name);

	// Get the named opacity level, if it exists
	@if map-has-key($opacities, $opacity) {
		$opacity: map-get($opacities, $opacity);
	}

	// Use rgba() to manipulate the color's alpha level
	@return rgba($color, $opacity);
}

