/**
 * Global Color palette
 * - Generic colors
 * - Color scheme
 * - Common colors
 * - Links
 * - Text selection
 * - <hr>
 * - Any others..
 */

// Generic colors

$colors: (
	red: #bd0f1e,
	yellow: #fff,
	grey-light: #eeeeee,
	grey-dark: #2d2c31
);
$_color-base-grey: #2d2c31;


// Color Scheme
$color-primary                	: color(red);
$color-secondary              	: color(grey-dark);
$color-highlight              	: $color-primary;


// Common colors
$color-text                   	: $_color-base-grey;
$color-bg                     	: #fff;
$color-border                 	: #ddd;


// Links
$color-link-default           : $color-highlight;
$color-link-visited           : $color-link-default;
$color-link-hover             : darken($color-link-default, 20%);
$color-link-active            : darken($color-link-default, 20%);

// Text Selection
$color-selection              : #fff;
$color-selection-bg           : $color-primary;


// <hr> border color
$hr-border                    : lighten(#000, 70%);


// 3rd party brand colors - find more at brandcolors.net
$color-twitter                : #55acee;
$color-facebook               : #3b5998;
$color-youtube                : #cd201f;
$color-pinterest              : #bd081c;
$color-instagram              : #3f729b;


// Form validation colors
$state-success: #468847;
$state-error:   #b94a48;
$form-border-color-focus: $color-primary;
$form-submit-color: $color-primary;
$form-submit-color-hover: #444;
