<link rel="icon" type="image/png" sizes="32x32" href="dist/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="dist/assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="dist/assets/images/favicons/site.webmanifest">
<link rel="mask-icon" href="dist/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="dist/assets/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="dist/assets/images/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="dist/assets/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">