	<header class="c-header">
		<div class="c-header__logo">
			<a href="" title="">
				<img src="assets/images/logo.svg" alt="">
			</a>
		</div>
		<nav class="c-header__nav">
			<div class="c-header__nav-toggle" id="js__c-header__navtoggle">
				<div class="c-navicon">
					<span class="c-navicon__line"></span>
					<span class="c-navicon__line"></span>
					<span class="c-navicon__line"></span>
				</div>
			</div>
			<ul class="c-navigation">
				<li class="c-navigation__item"><a href="" title="" class="c-navigation__item-level1 c-navigation__item-level1--active">Home</a></li>
				<li class="c-navigation__item">
					<a href="" title="" class="c-navigation__item-level1">Leistungen</a>
					<ul class="c-navigation__level2" style="display: none;">
						<li><a href="" title="" class="c-navigation__item-level2">Sub 1</a></li>
						<li><a href="" title="" class="c-navigation__item-level2">Sub 2</a></li>
						<li><a href="" title="" class="c-navigation__item-level2">Sub 3</a></li>
					</ul>
				</li>
				<li class="c-navigation__item"><a href="" title="" class="c-navigation__item-level1">Über uns</a></li>
				<li class="c-navigation__item"><a href="" title="" class="c-navigation__item-level1">Kontakt</a></li>
			</ul>
		</nav>
	</header>
