.e-list {
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 32px;

	li {
		list-style: none;
		//background: url("../Images/icons/arrow.svg") no-repeat;
		background-size: 8px;
		background-position: top 7px left;
		padding-left: 25px;
		color: $color-primary;
	}
}
