
$grid-gutter: gutter();
$grid-margin-bottom: $grid-gutter;

.o-grid {
	@include media('>grid') {
		display: flex;
	}

	&__col {
		flex: 1 1 auto;
		width: calc(100% - #{$grid-gutter});
		margin-right: $grid-gutter;
		margin-bottom: $grid-margin-bottom;

		&:last-child {
			margin-right: 0;
		}

		@include media('>grid') {
			width: calc(50% - #{$grid-gutter});
		}

		&--6 {
			//50/50 standard
		}
		&--4 {
			@include media('>desktop') {
				width: calc(33.33% - #{$grid-gutter});
			}
			//flex: 1 1 span(4);
		}
		&--8 {
			@include media('>desktop') {
				width: calc(66.66% - #{$grid-gutter});
			}
		}
	}
}





